*{
    box-sizing: border-box;
}
body{
    margin: 0;
    /*background-color: #333;  
    color: #fff;  */  
}
#myChart{
    margin: 100px 1000px 100px 100px;
    /*background-color: #330;*/
}
.cols-1{
    margin: 0px 200px ;
    background-color: #333;
    color: #fff;
}
.cols-2{
    margin: 0px 100px 100px 100px;
    background-color: rgb(148, 148, 141);
}